<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candi Borobudur</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  
  <!-- BOX ICONS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  
</head>
<body>
    <a class="btn-back" aria-label="Kembali" href="/views/home/home.html"><i class='z-10 p-2 font-semibold text-big-size text-bone bx bx-arrow-back' ></i></a>

  <main class="capitalize">
    <div class="md:flex md:justify-center md:items-center xs:h-[350px] overflow-hidden ">
      <img class="h-auto max-w-full" src="/assets/img/destinasi/destinasi-1.webp" alt="Candi Borobudur">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5 read">
        <h1 class="pt-6 pb-4 font-semibold capitalize border-b text-big-size md-lite:text-biggest-size">candi borobudur</h1>
          <p class="pt-3">Candi Borobudur adalah candi Buddha terbesar dan termewah di Indonesia, terletak di Kabupaten Magelang, Jawa Tengah. Dibangun dengan gaya Buddha pada masa Dinasti Syailendra antara tahun 750 hingga 842 M, tujuannya adalah untuk memuliakan ajaran Buddha Mahayana.
          Candi Borobudur berbentuk piramida segi empat dengan tiga tingkat. Tingkat pertama, Kamadhatu, berisi 160 relief Karmawibhangga yang menggambarkan kisah dosa. Tingkat kedua, Rupadhatu, terdiri dari 4 teras dengan 1.300 relief. Tingkat ketiga, Arupadhatu, berbentuk lingkaran dengan 72 stupa kecil dalam 3 baris yang mengelilingi stupa utama berisi arca Buddha.
          Relief di Candi Borobudur menggambarkan kisah Buddha dan ajarannya, termasuk Karmawibhangga, Lalitavistara, Jataka, Awadana, Gandavyuha, dan Bhadracari. Selain itu, terdapat 432 patung Buddha kecil di sepanjang pagar langkan.</p>
          <img class="img-destination" src="/assets/img/destinasi/destinasi-2.webp" alt="candi borobudur">
            <h2 class="pt-4 font-medium text-[1.25rem] capitalize md:text-[1.65rem]">hal menarik yang dimiliki?</h2>
            <p class="pt-2">Candi Borobudur berada di provinsi Jawa Tengah, Jawa Tengah merupakan sebuah provinsi di Indonesia yang berada di tengah-tengah pulau jawa dan memiliki berbagai budaya dan tradisi yang unik. banyaknya tradisi dan budaya yang ada disana masih dipertahankan hingga saat ini diantaranya</p>

            <h2 class="title-text">tari bedhaya ketawag</h2>
            <p class="pt-2">
              Tari Bedhaya Ketawang, tarian ini berasal dari dua kata ‘bedhaya’ yang berarti penari wanita sementara kata ‘ketawang’ berarti langit. Jadi tari Bedhaya Ketawang berarti penari wanita yang berasal dari istana langit. Tari Bedhaya Ketawang ini biasanya dipertunjukkan hanya untuk acara-acara resmi dengan tujuan untuk menghibur. Pada mulanya, tarian ini bercerita awal mula hubungan Ratu Kidul atau biasa dikenal dengan Nyi Roro Kidul. Jika ada yang menarikan tarian Bedhaya Ketawang in, sebagaimana mitos yang dipercaya masyarakat, Nyi Roro Kidul juga akan ikut menghadiri acara tersebut sembari ikut menari.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-3.webp" alt="Tari Bedhaya Ketawang">

            <h2 class="title-text">rumah joglo</h2>
            <p class="pt-2">
              Dahulu kala Rumah Joglo tidak hanya berfungsi sebagai rumah tinggal. Namun sekaligus menjadi simbol status sosial pemiliknya. Rumah Joglo hanya bisa dimiliki oleh kalangan bangsawan dan orang mampu. Untuk membuat Rumah Joglo, diperlukan waktu dan biaya yang tidak sedikit. Karena itulah, Rumah Joglo awalnya hanya bisa dimiliki oleh raja, pangeran, dan kaum bangsawan lainnya. Rakyat kebanyakan biasanya tinggal di jenis rumah tradisional lainnya. Ciri khas Rumah Joglo terletak pada bentuk atapnya yang bertingkat-tingkat. Bentuknya merupakan perduan bangun trapesium dan segitiga. Sudut kemiringannya pun berbeda-beda. Atap Joglo berada di bagian tengah rumah dan diapit oleh atap serambi.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-4.webp" alt="Rumah Joglo">
    </div>
    <iframe class="pt-[100px] mx-auto w-full max-w-full h-[400px] md:sticky md:top-0 md:w-[500px]" rel="dns-prefetch" name="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3954.6973694176586!2d110.19898787140848!3d-7.607873748904495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a8cf009a7d697%3A0xdd34334744dc3cb!2sCandi%20Borobudur!5e0!3m2!1sid!2sid!4v1719839961226!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitalize bg-gray-900 rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="Logo">
          <h1 class="text-[1rem] font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li><i class='bx bxl-facebook'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
            <li><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>