<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gunung Bromo</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  
  <!-- BOX ICONS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  <!-- navbar -->
   <script src="/assets/js/navbar.js" defer></script>
  <!-- btn dark mode -->
  <script src="/assets/js/darkMode.js" defer></script>
</head>
<body>
  <header class="font-normal l-header" id="header">
    <nav class="nav b-container">
      <a href="" class="logo">
        <img class="w-8 h-8 logo-w md:w-10 md:h-10" src="/assets/img/logo/logo-w.webp" alt="">
        <img class="absolute hidden top-2 md:top-[12px] w-8 h-8 logo-b md:w-10 md:h-10 dark:hidden" src="/assets/img/logo/logo-b.webp" alt="">
      </a>
      
      <div class="flex items-center justify-center gap-4">
        <div class="nav__menu show-menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/views/home/home.html#Home">Utama</a></li>
            <li class="nav__item"><a href="/views/home/home.html#destinasi">Destinasi</a></li>
            <li class="nav__item"><a href="/views/home/home.html#perjalanan">Perjalanan</a></li>
            <li class="nav__item"><a href="/views/home/home.html#artikel">Artikel</a></li>
          </ul>
        </div>
        
        <button class="btn-darkMode"><i class='bx bxs-moon'></i></button>
        
        <div class="text-[1.75rem] cursor-pointer md:hidden" id="nav-burger">
          <i class='bx bx-menu-alt-right' ></i>
        </div>
      </div>
    </nav>
  </header>

  <main class="pb-5 capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/destinasi/destinasi-10.webp" alt="Gunung Bromo">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5 read">
        <h1 class="main-title">gunung bromo</h1>
          <p class="pt-3">Gunung Bromo adalah salah satu tempat wisata yang paling menakjubkan di Indonesia. Terletak di Jawa Timur, gunung ini menawarkan pemandangan alam yang spektakuler dan memikat hati siapa pun yang mengunjunginya. Pertama-tama, keindahan Gunung Bromo terletak pada lanskapnya yang mempesona. Dikelilingi oleh padang pasir yang luas, gunung ini menawarkan panorama yang tak terlupakan, terutama saat matahari terbit. Pemandangan ini akan membuat Anda terpesona dengan cahaya matahari yang menyinari lautan pasir yang luas, dengan Gunung Bromo yang menjulang tinggi di tengahnya.
            Selain keindahan alam, Gunung Bromo juga menawarkan berbagai aktivitas petualangan yang menarik bagi para pengunjung. Anda dapat melakukan trekking atau hiking untuk mencapai puncak gunung dan menikmati pemandangan yang mengagumkan dari atas. Selain itu, Anda juga dapat menjelajahi lautan pasir dengan menjajal jeep safari yang seru.</p>
          <img class="img-destination" src="/assets/img/destinasi/destinasi-11.webp" alt="Gunung Bromo">
            <h2 class="pt-4 font-medium text-[1.25rem] capitalize md:text-[1.65rem]">hal menarik yang dimiliki?</h2>
            <p class="pt-2">Gunung Bromo juga kaya akan budaya dan tradisi yang menarik. Masyarakat sekitar Gunung Bromo memiliki kehidupan yang unik, dengan adat istiadat dan upacara adat yang masih dilestarikan. Anda dapat berinteraksi dengan penduduk setempat dan mengenal lebih dekat kebudayaan mereka. Adapun beberapa budaya yang berada di provinsi jawa timu dan masih melekat yaitu:</p>

            <h2 class="title-text">tari reog ponorogo</h2>
            <p class="pt-2">
              Reog Ponorogo, Tari Reog ini berasal dari daerah Ponorogo, Jawa Timur. Tarian yang sangat epic ini dibawakan oleh beberapa wanita dan pria, biasanya berjumlah 6 orang atau 8 orang. Tarian ini termasuk salah satu tarian yang memiliki durasi lama. Hal tersebut dikarenakan terdapat beberapa fase dalam tarian Reog Ponorogo ini. Tarian ini memiliki sejarah yakni gerakan tariannya berasal dari suatu perjalanan. Perjalanan yang diceritakan di sini adalah oleh Prabu Kelana Sewandana.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-12.webp" alt="Tari Reog Ponorogo">

            <h2 class="title-text">rumah Using</h2>
            <p class="pt-2">
              rumah Using memilii keistimewaan yaitu tidak menggunakan paku melainkan pasak kayu, karenanya rumah Using memungkinkan untuk dibongkar pasang (build up). Pemakaian paku hanya diperuntukkan bagi kerangka atap. Kayu yang lazim digunakan untuk membangun rumah Using adalah yang berasal dari pohon Bendo. Sementara untuk bagian dinding umumnya menggunakan anyaman bambu atau gedek dan juga gebyok yang terbuat dari kayu. Rumah Using memiliki ketahanan terhadap guncangan gempa dan keunikannya tidak terdapat jendela pada rumah adat Using.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-13.webp" alt="Rumah Using">

            <h2 class="title-text">lontong balap</h2>
            <p class="pt-2">
              Lontong Balap, makanan ini dibuat dengan komposisi lontong, tauge, tahu goreng, lethok, kecap, sambal, bawang gorengan dan siraman kuah yang segar</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-14.webp" alt="Lontong Balap">
    </div>
    <iframe class="maps" rel="dns-prefetch" name="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15806.18086528551!2d112.94271243828398!3d-7.942472071307088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd637aaab794a41%3A0xada40d36ecd2a5dd!2sGn.%20Bromo!5e0!3m2!1sid!2sid!4v1723011548353!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
  </footer>
</body>
</html>