<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pulau Komodo</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/output.css">
  <!-- box icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

  <!-- navbar -->
  <script src="/assets/js/navbar.js" defer></script>
  <!-- btn dark mode -->
  <script src="/assets/js/darkMode.js" defer></script>
</head>
<body>
  <header class="font-normal l-header" id="header">
    <nav class="nav b-container">
      <a href="" class="logo">
        <img class="w-8 h-8 logo-w md:w-10 md:h-10" src="/assets/img/logo/logo-w.webp" alt="">
        <img class="absolute hidden top-2 md:top-[12px] w-8 h-8 logo-b md:w-10 md:h-10 dark:hidden" src="/assets/img/logo/logo-b.webp" alt="">
      </a>
      
      <div class="flex items-center justify-center gap-4">
        <div class="nav__menu show-menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/views/home/home.html#Home">Utama</a></li>
            <li class="nav__item"><a href="/views/home/home.html#destinasi">Destinasi</a></li>
            <li class="nav__item"><a href="/views/home/home.html#perjalanan">Perjalanan</a></li>
            <li class="nav__item"><a href="/views/home/home.html#artikel">Artikel</a></li>
          </ul>
        </div>
        
        <button class="btn-darkMode"><i class='bx bxs-moon'></i></button>
        
        <div class="text-[1.75rem] cursor-pointer md:hidden" id="nav-burger">
          <i class='bx bx-menu-alt-right' ></i>
        </div>
      </div>
    </nav>
  </header>

  <main class="pb-5 capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/destinasi/destinasi-6.webp" alt="Pulau Komodo">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5 read">
        <h1 class="main-title">pulau komodo</h1>
          <p class="pt-3">Pulau Komodo adalah salah satu pulau yang terletak di Provinsi Nusa Tenggara Timur, Indonesia. Pulau ini dikenal sebagai habitat asli hewan komodo, yang merupakan spesies purba dan langka. Hewan komodo memiliki panjang 2-3 meter dan berat mencapai 165 kg. Pulau Komodo termasuk salah satu kawasan Taman Nasional Komodo yang dikelola oleh Pemerintah Pusat.
            Pulau ini terletak di wilayah Kabupaten Manggarai Barat, Kecamatan Komodo, Provinsi Nusa Tenggara Timur, Indonesia. Pulau Komodo berbatasan dengan Provinsi Nusa Tenggara Barat dan memiliki luas sekitar 390 km². Di pulau ini, hewan komodo hidup dan berkembang biak dengan baik, serta terdapat berbagai jenis flora dan fauna lainnya. Pulau Komodo juga dikenal sebagai salah satu tempat menyelam terbaik di dunia dan memiliki keanekaragaman hayati yang sangat tinggi, dan wisata utama dari pulau komodo ini adalah hewan komodo yang hidup hanya ada di pulau ini.
          </p>
          <img class="img-destination" src="/assets/img/destinasi/destinasi-5.webp" alt="Pulau Komodo">
            <h2 class="pt-4 font-medium text-[1.25rem] capitalize md:text-[1.65rem]">hal menarik yang dimiliki?</h2>
            <p class="pt-2">
              Pulau Komodo berada di provinsi NTT, NTT (Nusa Tenggara Timur) merupakan sebuah provinsi di Indonesia yang terdiri dari berbagai pulau dan memiliki berbagai budaya dan tradisi yang unik. banyaknya tradisi dan buadaya yang ada disana masih dipertahankan hingga saat ini diantaranya
            </p>

            <h2 class="title-text">tari Caci</h2>
            <p class="pt-2">
              Tari Caci tarian ini ditampilkan dalam acara syukuran musim panen atau upacara adat lainnya, Tari Caci dibawakan oleh dua orang penari pria yang bertarung menggunakan cambuk dan perisai.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-8.webp" alt="Tari Caci">

            <h2 class="title-text">rumah mbaru niang</h2>
            <p class="pt-2">
              Mbaru Niang, mengacu pada bentuknya yang kerucut dengan alas bundar. Mbaru Niang merupakan salah satu rumah adat yang sangat eksotis karena terisolir di atas pegunungan. Mbaru Niang dihuni oleh warga kampung Wae Rebo di Pulau Flores. Kampung ini dikelilingi hutan tropis Manggarai Barat yang lebat dan tepat berbatasan dengan Taman Nasional Komodo. Mbaru Niang di Wae Rebo didirikan sebanyak tujuh buah sebagai simbol penghormatan masyarakat terhadap tujuh gunung yang mengelilingi dan melindungi area kampung. karena keindahan bangunan ini juga dijadikan tujuan objek wisata baik mancan negara ataupun wisatawan lokal.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-7.webp" alt="Rumah Mbaru Niang">

            <h2 class="title-text">jagung bose</h2>
            <p class="pt-2">
              Jagung bose merupakan makanan tradisional Nusa Tenggara Timur yang disantap sebagai pengganti nasi. Hidangan jagung bose terdiri dari jagung dan kacang-kacangan, biasanya kacang merah dan kacang tanah yang dicampur dengan santan.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-9.webp" alt="Jagung Bose">
    </div>
    <iframe class="maps" rel="dns-prefetch" name="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d252484.75333352262!2d119.30782036981985!3d-8.588857929427217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2db4545ba8b2bbbb%3A0x62b9b2c3feba412!2sPulau%20Komodo!5e0!3m2!1sid!2sid!4v1723010856738!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
  </footer>
</body>
</html>