<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raja Ampat</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  
  <!-- BOX ICONS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  
</head>
<body>
    <a class="btn-back" aria-label="Kembali" href="/views/home/home.html"><i class='z-10 p-2 font-semibold text-big-size text-gray-0 bx bx-arrow-back' ></i></a>

  <main class="pb-5 capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/destinasi/destinasi-25.webp" alt="Raja Ampat">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5 read">
        <h1 class="main-title">raja ampat</h1>
          <p class="pt-3">Raja Ampat adalah sebuah kabupaten yang terletak di ujung barat laut Papua Barat, Indonesia. Wilayah ini terdiri dari 4.6 juta hektar lautan, 1.411 pulau kecil, pulau karang atau atol, dan beting yang mengelilingi empat pulau utama, yakni Waigeo, Batanta, Salawati, dan Misool. Raja Ampat dikenal dengan keanekaragaman hayati laut yang sangat tinggi, dengan lebih dari 1.600 spesies ikan karang dan lebih dari 550 spesies terumbu karang yang terdapat di wilayah ini. Raja Ampat memiliki keindahan alam yang sangat eksotis, dengan pemandangan bawah laut yang sangat indah dan beragam. Wilayah ini adalah salah satu dari 10 perairan terbaik di seluruh dunia, dengan kekayaan flora-fauna dan kelestarian alam laut yang sangat tinggi. Terumbu karang di Raja Ampat sangat indah dan berwarna-warni, dengan warna karang yang sangat cerah dan beragam.</p>
          <img class="img-destination" src="/assets/img/destinasi/destinasi-2.webp" alt="Raja Ampat">
            <h2 class="pt-4 font-medium text-[1.25rem] capitalize md:text-[1.65rem]">hal menarik yang dimiliki?</h2>
            <p class="pt-2">Raja Ampat berada di Papua, Papua merupakan sebuah pulau di Indonesia yang terletak di ujung timur Indonesia dan memiliki berbagai budaya dan tradisi yang unik. Banyaknya tradisi dan budaya yang ada di sana masih dipertahankan hingga saat ini di antaranya.</p>

            <h2 class="title-text">tari sajojo</h2>
            <p class="pt-2">
              Taro Sajojo diiringi dengan lagu Sajojo. Lagu tersebut adalah lagu daerah Papua yang menceritakan mengenai kisah dari seorang gadis yang diidolakan serta dicintai di kampung tempat tinggalnya. </p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-27.webp" alt="Tari Sajojo">

            <h2 class="title-text">rumah honai</h2>
            <p class="pt-2">
              Rumah adat yang terdapat di tanah Papua Barat adalah rumah Honai. Rumah adat Honai merupakan rumah tradisional khas Papua Barat yang dibangun oleh suku Dani, suku Lani, dan suku-suku asli Papua Barat lainnya. Meskipun rumah ini berasal dari Papua, namun tidak semua daerah memiliki kekayaan berupa bangunan tradisional ini. Karena bangunan tradisional honai hanya dapat dijumpai di beberapa lembah dan pegunungan bagian tengah Papua, yakni di bagian lembah Baliem, lembah Wamena, serta pegunungan Toli. Keunikan bangunan Honai sudah tampak dari luar bangunan yang terlihat menyerupai jamur besar. Bangunan ini dibuat dengan atap yang bulat dan mengerucut ke atas. Rumah dibangun dengan atap dan dinding yang khas dan berbahan material alami.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-28.webp" alt="Rumah Honai">

            <h2 class="title-text">bubur papeda</h2>
            <p class="pt-2">
              Rumah adat yang terdapat di tanah Papua Barat adalah rumah Honai. Rumah adat Honai merupakan rumah tradisional khas Papua Barat yang dibangun oleh suku Dani, suku Lani, dan suku-suku asli Papua Barat lainnya. Meskipun rumah ini berasal dari Papua, namun tidak semua daerah memiliki kekayaan berupa bangunan tradisional ini. Karena bangunan tradisional honai hanya dapat dijumpai di beberapa lembah dan pegunungan bagian tengah Papua, yakni di bagian lembah Baliem, lembah Wamena, serta pegunungan Toli. Keunikan bangunan Honai sudah tampak dari luar bangunan yang terlihat menyerupai jamur besar. Bangunan ini dibuat dengan atap yang bulat dan mengerucut ke atas. Rumah dibangun dengan atap dan dinding yang khas dan berbahan material alami.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-29.webp" alt="Bubur Papeda">
    </div>
    <iframe class="maps" rel="dns-prefetch" name="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4084911.1869562194!2d128.28801025509273!3d-1.0320467999999936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2d5c3eaaccb47097%3A0x7851bd844c4cdf44!2sKabupaten%20Raja%20Ampat!5e0!3m2!1sid!2sid!4v1723014841617!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
  </footer>
</body>
</html>