<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wakatobi</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/output.css">
  <!-- box icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

  <!-- navbar -->
  <script src="/assets/js/navbar.js" defer></script>
  <!-- btn dark mode -->
  <script src="/assets/js/darkMode.js" defer></script>
</head>
<body>
  <header class="font-normal l-header" id="header">
    <nav class="nav b-container">
      <a href="" class="logo">
        <img class="w-8 h-8 logo-w md:w-10 md:h-10" src="/assets/img/logo/logo-w.webp" alt="">
        <img class="absolute hidden top-2 md:top-[12px] w-8 h-8 logo-b md:w-10 md:h-10 dark:hidden" src="/assets/img/logo/logo-b.webp" alt="">
      </a>
      
      <div class="flex items-center justify-center gap-4">
        <div class="nav__menu show-menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/views/home/home.html#Home">Utama</a></li>
            <li class="nav__item"><a href="/views/home/home.html#destinasi">Destinasi</a></li>
            <li class="nav__item"><a href="/views/home/home.html#perjalanan">Perjalanan</a></li>
            <li class="nav__item"><a href="/views/home/home.html#artikel">Artikel</a></li>
          </ul>
        </div>
        
        <button class="btn-darkMode"><i class='bx bxs-moon'></i></button>
        
        <div class="text-[1.75rem] cursor-pointer md:hidden" id="nav-burger">
          <i class='bx bx-menu-alt-right' ></i>
        </div>
      </div>
    </nav>
  </header>

  <main class="pb-5 capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/destinasi/destinasi-20.webp" alt="Wakatobi">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5 read">
        <h1 class="main-title">wakatobi</h1>
          <p class="pt-3">Wakatobi adalah sebuah taman nasional yang terletak di Sulawesi Tenggara, Indonesia. Taman ini memiliki luas sekitar 1.000 kilometer persegi dan terdiri dari beberapa pulau kecil yang tersebar di lautan. Wakatobi dikenal dengan keindahan terumbu karangnya yang sangat indah dan beragam, serta kehidupan bawah air yang sangat kaya. Wakatobi memiliki terumbu karang yang sangat indah dan beragam, dengan lebih dari 1.000 spesies ikan dan 600 spesies karang yang terdapat di dalamnya. Terumbu karang ini sangat penting sebagai habitat bagi berbagai spesies ikan dan hewan laut lainnya. Selain itu, terumbu karang Wakatobi juga sangat indah dan berwarna-warni, dengan warna karang yang sangat cerah dan beragam.S</p>
          <img class="img-destination" src="/assets/img/destinasi/destinasi-21.webp" alt="Wakatobi">
            <h2 class="pt-4 font-medium text-[1.25rem] capitalize md:text-[1.65rem]">hal menarik yang dimiliki?</h2>
            <p class="pt-2">Wakatobi berada di provinsi Sulawesi Tenggara, Sulawesi Tenggara merupakan sebuah provinsi di Indonesia yang berada di bagian tenggara Pulau Sulawesi dan memiliki berbagai budaya dan tradisi yang unik. Banyaknya tradisi dan budaya yang ada di sana masih dipertahankan hingga saat ini di antaranya:+</p>

            <h2 class="title-text">tari mangaru</h2>
            <p class="pt-2">
              Tari Mangaru merupakan salah satu tarian khas dari Sulawesi Tenggara yang sudah sangat populer. Tarian tradisional Sulawesi Tenggara ini menggambarkan keberanian laki-laki pada zaman penjajahan atau di medan peperangan. Jika dijabarkan sedikit tari ini menceritakan tentang dua laki-laki ketika berada di medan peperangan.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-22.webp" alt="Tari Mangaru">

            <h2 class="title-text">rumah laikas</h2>
            <p class="pt-2">
              Laikas atau bisa juga disebut dengan Laila Taba merupakan rumah adat Sulawesi Tenggara yang pada umumnya dihuni oleh suku Tolaki. Suku tersebut bisa ditemukan di wilayah Kota Kendari, Konawe Selatan dan Utara serta Kolaka Utara. Rumah adat yang dimiliki oleh suku Tolaki juga masih mendapat pengaruh dari kepercayaan masyarakat sebelumnya dengan menggunakan analogi tubuh. Dimulai dari bagian depan rumah yang melambangkan kedua tangan dan dagu. Rumah adat Laikas mempunyai bentuk seperti rumah panggung, dimana bangunannya terdiri dari tiga atau empat lantai.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-23.webp" alt="Rumah Laikas">
            
            <h2 class="title-text">kapusu</h2>
            <p class="pt-2">
              Kapusu adalah bubur jagung yang dimasak bersama dengan kacang merah. Teksturnya lembut dengan cita rasa yang cenderung manis.</p>
            <img class="img-destination" src="/assets/img/destinasi/destinasi-24.webp" alt="Kapusu">
    </div>
    <iframe class="maps" rel="dns-prefetch" name="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1016398.5015307277!2d123.15799225134747!3d-5.668726186537106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2da132c009d62f91%3A0x27e60d480afc1529!2sKabupaten%20Wakatobi!5e0!3m2!1sid!2sid!4v1723013704348!5m2!1sid!2sid" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">&copy; 2024 Jantung Nuswantara. All rights reserved.</h1>
  </footer>
</body>
</html>