<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candi Borobudur</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- css -->
  <link rel="stylesheet" href="/assets/css/output.css">
  <!-- box icons -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  
  <!-- navbar -->
  <script src="/assets/js/navbar.js" defer></script>
  <!-- btn dark mode -->
   <script src="/assets/js/darkMode.js" defer></script>
</head>
<body>
  <header class="font-normal l-header" id="header">
    <nav class="nav b-container">
      <a href="" class="logo">
        <img class="w-8 h-8 logo-w md:w-10 md:h-10" src="/assets/img/logo/logo-w.webp" alt="">
        <img class="absolute hidden top-2 md:top-[12px] w-8 h-8 logo-b md:w-10 md:h-10 dark:hidden" src="/assets/img/logo/logo-b.webp" alt="">
      </a>
      
      <div class="flex items-center justify-center gap-4">
        <div class="nav__menu show-menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/views/home/home.html#Home">Utama</a></li>
            <li class="nav__item"><a href="/views/home/home.html#destinasi">Destinasi</a></li>
            <li class="nav__item"><a href="/views/home/home.html#perjalanan">Perjalanan</a></li>
            <li class="nav__item"><a href="/views/home/home.html#artikel">Artikel</a></li>
          </ul>
        </div>
        
        <button class="btn-darkMode"><i class='bx bxs-moon'></i></button>
        
        <div class="text-[1.75rem] cursor-pointer md:hidden" id="nav-burger">
          <i class='bx bx-menu-alt-right' ></i>
        </div>
      </div>
    </nav>
  </header>

  <main class="capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/tur/borobudur-0.webp" alt="Candi Borobudur">
    </div>
    <section class="main-tur__container">
        <div class="h-[60%] md:mt-2 md:px-2 md:border-r">
          <div class="flex items-center justify-between pb-2 mt-4 border-b">
              <h2 class="font-semibold lize text-[1.25rem] md:text-big-size">candi borobudur</h2>
              <div class="static tur-icon drop-shadow-[0_2px_5px_rgba(0,0,0,0.5)] dark:drop-shadow-[1px_1px_5px_rgba(255,255,255,0.30)]">
                <i class='bx bxs-star'></i>
                <span>4.7</span>
              </div>
              
          </div>
          <div class="mt-3">
            <p class="font-light normal-case text-small-size md:text-[1.1rem]"><span class="text-[0.875rem] md:text-[1.2rem] font-normal">Menikmati Keindahan Matahari Terbit di Borobudur</span><br>
              Tur Matahari Terbit di Borobudur mengajak Anda untuk melihat keindahan candi dari perspektif yang berbeda. Tur ini membawa Anda ke puncak candi untuk menyaksikan matahari terbit yang memancarkan cahaya keemasan. Dalam suasana yang damai, Anda akan menyaksikan keindahan matahari terbit yang megah di balik kemegahan Candi Borobudur yang mistis. Matahari Terbit Borobudur merupakan salah satu pengalaman terbaik dalam eksplorasi candi.</p>

              <div class="mt-4">
                <h2 class="text-[1.2rem] font-medium md:text-big-size">galeri</h2>
                <div class="gallery__container">
                  <img class="gallery" src="/assets/img/tur/borobudur-1.webp" alt="Candi Borobudur">
                  <img class="gallery" src="/assets/img/tur/borobudur-2.webp" alt="Candi Borobudur">
                  <img class="gallery" src="/assets/img/tur/borobudur-3.webp" alt="Candi Borobudur">
                </div>
              </div>

          </div>
        </div>
        <div class="tur__container">
          <a href="/views/pages/perjalanan/raja-ampat.html">
            <div class="another__tur">
              <img class="w-[150px] h-[120px] rounded" src="/assets/img/tur/trip-2.webp" alt="Raja Ampat">
              <div class="w-[150px] lg:w-[250px] dark:text-gray-900">
                <h1 class="font-medium capitalize md:text-[1.1rem]">raja ampat</h1>
                <p class="font-light line-clamp-3 text-wrap text-small-size">Nikmati keindahan bawah laut Raja Ampat, surga bagi penyelam dengan terumbu karang yang memukau dan keanekaragaman hayati laut yang luar biasa.</p>
              </div>
            </div>
          </a>

          <a href="/views/pages/perjalanan/wae-rebo.html">
            <div class="another__tur">
              <img class="w-[150px] h-[120px] rounded" src="/assets/img/tur/trip-3.webp" alt="Wae Rebo">
              <div class="w-[150px] lg:w-[250px] dark:text-gray-900">
                <h1 class="font-medium capitalize md:text-[1.1rem]">wae rebo</h1>
                <p class="font-light line-clamp-3 text-wrap text-small-size">Jelajahi desa adat Wae Rebo di ketinggian Flores, di mana Anda dapat merasakan kehidupan tradisional dan keindahan alam yang menenangkan.</p>
              </div>
            </div>
          </a>

          <a href="/views/pages/perjalanan/bromo.html">
            <div class="another__tur">
              <img class="w-[150px] h-[120px] rounded" src="/assets/img/tur/trip-4.webp" alt="Gunung Bromo">
              <div class="w-[150px] lg:w-[250px] dark:text-gray-900">
                <h1 class="font-medium capitalize md:text-[1.1rem]">gunung bromo</h1>
                <p class="font-light line-clamp-3 text-wrap text-small-size">Saksikan matahari terbit yang menakjubkan di Gunung Bromo, salah satu destinasi wisata alam paling ikonik di Indonesia dengan pemandangan kawah vulkanik yang spektakuler.</p>
              </div>
            </div>
          </a>

          <a href="/views/pages/perjalanan/wae-rebo.html">
            <div class="another__tur">
              <img class="w-[150px] h-[120px] rounded" src="/assets/img/tur/trip-3.webp" alt="Wae Rebo">
              <div class="w-[150px] lg:w-[250px] dark:text-gray-900">
                <h1 class="font-medium capitalize md:text-[1.1rem]">wae rebo</h1>
                <p class="font-light line-clamp-3 text-wrap text-small-size">Jelajahi desa adat Wae Rebo di ketinggian Flores, di mana Anda dapat merasakan kehidupan tradisional dan keindahan alam yang menenangkan.</p>
              </div>
            </div>
          </a>

          <a href="/views/pages/perjalanan/raja-ampat.html">
            <div class="another__tur">
              <img class="w-[150px] h-[120px] rounded" src="/assets/img/tur/trip-2.webp" alt="Raja Ampat">
              <div class="w-[150px] lg:w-[250px] dark:text-gray-900">
                <h1 class="font-medium capitalize md:text-[1.1rem]">raja ampat</h1>
                <p class="font-light line-clamp-3 text-wrap text-small-size">Nikmati keindahan bawah laut Raja Ampat, surga bagi penyelam dengan terumbu karang yang memukau dan keanekaragaman hayati laut yang luar biasa.</p>
              </div>
            </div>
          </a>
        </div>
          <div class="btn-send">
              <span>pesan sekarang</span>
              <i class='pt-[3px] text-big-size bx bx-right-arrow-alt'></i>
          </div>
    </section>
  </main>

  <footer>
    <div class=" footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">&copy; 2024 Jantung Nuswantara. All rights reserved.</h1>
  </footer>
</body>
</html>