<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candi Borobudur</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  
  <!-- BOX ICONS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
  
</head>
<body>
    <a class="btn-back" aria-label="Kembali" href="/views/home/home.html"><i class='z-10 p-2 font-semibold text-big-size text-bone bx bx-arrow-back' ></i></a>

  <main class="capitalize ">
    <div class="md:flex md:justify-center md:items-center xs:h-[350px] overflow-hidden ">
      <img class="h-auto max-w-full" src="/assets/img/tur/borobudur-0.webp" alt="Candi Borobudur">
    </div>
    <section class="h-screen md:h-screen b-container md:grid md:gap-2 md:grid-cols-[2fr,1fr] ">
        <div class="h-[85vh] md:mt-2 md:px-2 md:border-r">
          <div class="flex items-center justify-between pb-2 mt-4 border-b">
              <h2 class="font-semibold lize text-[1.25rem] md:text-big-size">candi borobudur</h2>
              <div class="static tur-icon">
                <i class='bx bxs-star'></i>
                <span>4.7</span>
              </div>
              
          </div>
          <div class="mt-3">
            <p class="font-light normal-case text-small-size md:text-[1.1rem]"><span class="text-[0.875rem] md:text-[1.2rem] font-normal">Menikmati Keindahan Matahari Terbit di Borobudur</span><br>
              Tur Matahari Terbit di Borobudur mengajak Anda untuk melihat keindahan candi dari perspektif yang berbeda. Tur ini membawa Anda ke puncak candi untuk menyaksikan matahari terbit yang memancarkan cahaya keemasan. Dalam suasana yang damai, Anda akan menyaksikan keindahan matahari terbit yang megah di balik kemegahan Candi Borobudur yang mistis. Matahari Terbit Borobudur merupakan salah satu pengalaman terbaik dalam eksplorasi candi.</p>

              <div class="mt-4 ">
                <h2 class="text-[1.2rem] font-medium md:text-big-size">galeri</h2>
                <div class="flex items-center justify-center mt-4 md:justify-start">
                  <img class="gallery" src="/assets/img/tur/borobudur-1.webp" alt="Candi Borobudur">
                  <img class="gallery" src="/assets/img/tur/borobudur-2.webp" alt="Candi Borobudur">
                  <img class="gallery" src="/assets/img/tur/borobudur-3.webp" alt="Candi Borobudur">
                  <img class="gallery" src="/assets/img/tur/borobudur-4.webp" alt="Candi Borobudur">
                </div>
              </div>

          </div>
        </div>
        <div class="btn-send">
            <span>pesan sekarang</span>
            <i class='pt-[3px] text-big-size bx bx-right-arrow-alt'></i>
        </div>
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitalize bg-gray-900 rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="logo">
          <h1 class="text-[1rem] font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li><i class='bx bxl-facebook'></i></li>
            <li><i class='bx bxl-instagram-alt'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
            <li><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>