<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candi Borobudur</title>
  <link rel="shortcut icon" href="/assets/img/logo/logo-w.webp" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  <!-- BOX ICONS -->
  <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">

  <!-- navbar -->
   <script src="/assets/js/navbar.js" defer></script>
  <!-- btn dark mode -->
  <script src="/assets/js/darkMode.js" defer></script>
</head>
<body>
  <header class="font-normal l-header" id="header">
    <nav class="nav b-container">
      <a href="" class="logo">
        <img class="w-8 h-8 logo-w md:w-10 md:h-10" src="/assets/img/logo/logo-w.webp" alt="">
        <img class="absolute hidden top-2 md:top-[12px] w-8 h-8 logo-b md:w-10 md:h-10 dark:hidden" src="/assets/img/logo/logo-b.webp" alt="">
      </a>
      
      <div class="flex items-center justify-center gap-4">
        <div class="nav__menu show-menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item"><a href="/views/home/home.html#Home">Utama</a></li>
            <li class="nav__item"><a href="/views/home/home.html#destinasi">Destinasi</a></li>
            <li class="nav__item"><a href="/views/home/home.html#perjalanan">Perjalanan</a></li>
            <li class="nav__item"><a href="/views/home/home.html#artikel">Artikel</a></li>
          </ul>
        </div>
        
        <button class="btn-darkMode"><i class='bx bxs-moon'></i></button>
        
        <div class="text-[1.75rem] cursor-pointer md:hidden" id="nav-burger">
          <i class='bx bx-menu-alt-right' ></i>
        </div>
      </div>
    </nav>
  </header>

  <main class="pb-5 capitalize">
    <div class="main-img">
      <img class="h-auto max-w-full" src="/assets/img/blog/blog-1.webp" alt="Pulau Komodo">
    </div>
    <section class="b-container md:grid md:grid-cols-[2fr,1fr]"> 
      <div class="mx-5">
        <h1 class="main-title border-b-0 text-[1rem] xs-lite:text-big-size md:text-[1.8rem]">Menyusuri Jejak Naga Purba di Pulau Komodo</h1>
        <div class="flex gap-2 capitalize">
          <h3 class="pr-2 border-r border-gray-600 dark:border-gray-0">8 agustus 2024</h3>
          <span>share: maday</span>
        </div>

        <div>
          <h1 class="mt-2 font-normal text-[1.25rem] md:text-big-size">Menyusuri Jejak Naga Purba di Pulau Komodo</h1>
          <p class="read">Petualangan dimulai dengan menyusuri keindahan alam liar Pulau Komodo. Taman Nasional Komodo, yang merupakan bagian dari Situs Warisan Dunia UNESCO, menawarkan berbagai jalur trekking yang bisa dipilih sesuai dengan tingkat kesulitan yang diinginkan. Selama perjalanan, Anda akan melewati padang savana yang luas, hutan tropis yang rimbun, hingga bukit-bukit yang menantang. Setiap langkah akan membawa Anda lebih dekat dengan kehidupan liar yang menakjubkan, termasuk burung langka, rusa, dan tentunya, Komodo.</p>
          
          <h2 class="font-normal mt-3 text-[1.2rem] md:text-big-size">Keajaiban Bawah Laut</h2>
          <p class="read">Selain trekking, keajaiban Pulau Komodo tidak hanya berada di darat. Perairan di sekitar pulau ini menawarkan salah satu pengalaman menyelam terbaik di dunia. Terumbu karang yang masih asli, dihuni oleh berbagai spesies ikan, penyu, dan bahkan pari manta, menjadikan Pulau Komodo surga bagi penyelam. Bagi Anda yang belum pernah menyelam, snorkeling di pantai-pantai indah seperti Pantai Pink juga bisa menjadi alternatif yang tak kalah menakjubkan.</p>
          
          <h2 class="font-normal mt-3 text-[1.2rem] md:text-big-size">Budaya dan Kehidupan Lokal</h2>
          <p class="read">Berinteraksi dengan penduduk lokal juga merupakan bagian dari petualangan di Pulau Komodo. Masyarakat di sekitar pulau ini sebagian besar berprofesi sebagai nelayan dan sangat ramah terhadap para wisatawan. Anda dapat belajar tentang tradisi lokal, kehidupan sehari-hari, dan bagaimana mereka hidup berdampingan dengan Komodo.</p>
          
          <h2 class="font-normal mt-3 text-[1.2rem] md:text-big-size">Tips Mengunjungi Pulau Komodo</h2>
          <ul style="list-style-type:disc" class="ml-10">
            <li class="read"><span class="font-normal text-[1rem] md:text-[1.25rem]">Pilih Pemandu Wisata Terpercaya:</span> Mengingat habitat Komodo yang liar, sangat disarankan untuk selalu bersama pemandu wisata yang berpengalaman.</li>
            <li class="read"><span class="font-normal text-[1rem] md:text-[1.25rem]">Kenakan Pakaian yang Nyaman:</span> Trekking di Pulau Komodo bisa sangat menantang, jadi pastikan Anda mengenakan pakaian dan alas kaki yang nyaman.</li>
            <li class="read"><span class="font-normal text-[1rem] md:text-[1.25rem]">Waktu Terbaik untuk Berkunjung:</span> Bulan April hingga Desember adalah waktu terbaik untuk berkunjung, di mana cuaca cenderung lebih bersahabat./li>
          </ul>
        </div>
    </div>
    
    <div class="col-span-2 text-center">
      <h1 class="mt-3 font-medium text-[1.3rem] md:text-big-size">artikel selanjutnya</h1>
      <div class="grid grid-cols-[250px] xs:grid-cols-[repeat(2,250px)] justify-center md-lite:grid-cols-[repeat(3,minmax(0,250px))] lg:grid-cols-[repeat(4,250px)] gap-2 mt-5">
        <a href="/views/pages/blog/blog_raja-ampat.html">
          <div class=" blog">
            <img class="w-[250px] h-[250px]" src="/assets/img/blog/blog-2.webp" alt="Raja Ampat">
            <div class="blog__description">
              <h2 class="uppercase">Menyelami Pesona Laut dan Alam di Raja Ampat</h2>
              <span class="capitalize">24 juni 2-24</span>
            </div>
          </div>
        </a>
        
        <a href="/views/pages/blog/blog_bromo.html">
          <div class=" blog">
            <img class="w-[250px] h-[250px]" src="/assets/img/blog/blog-3.webp" alt="Gunung Bromo">
            <div class="blog__description">
              <h2 class="uppercase">menggenggam keindahan fajar di bromo</h2>
              <span class="capitalize">7 juli 2024</span>
            </div>
          </div>
        </a>

        <a href="/views/pages/blog/blog_raja-ampat.html">
          <div class=" blog">
            <img class="w-[250px] h-[250px]" src="/assets/img/blog/blog-2.webp" alt="Raja Ampat">
            <div class="blog__description">
              <h2 class="uppercase">Menyelami Pesona Laut dan Alam di Raja Ampat</h2>
              <span class="capitalize">24 juni 2-24</span>
            </div>
          </div>
        </a>
        
        <a href="/views/pages/blog/blog_bromo.html">
          <div class=" blog">
            <img class="w-[250px] h-[250px]" src="/assets/img/blog/blog-3.webp" alt="Gunung Bromo">
            <div class="blog__description">
              <h2 class="uppercase">menggenggam keindahan fajar di bromo</h2>
              <span class="capitalize">7 juli 2024</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    </section>
  </main>

  <footer>
    <div class="footer__container">
      <div>
        <span class="flex w-[155px] h-[63px] md:w-[250px] md:h-[115px] justify-center items-center gap-2 capitaliz rounded-lg">
          <img class="w-[50px] h-[50px] md:w-[100px] md:h-[100px]" src="/assets/img/logo/logo-w.webp" alt="">
          <h1 class="text-[1rem] capitalize font-medium md:text-big-size">jantung<br>nuswantara</h1>
        </span>
          <ul class="social__media">
            <li class="social-icon"><i class=' bx bxl-facebook'></i></li>
            <li class="social-icon"><i class='bx bxl-instagram-alt'></i></li>
            <li class="social-icon"><i class='bx bxl-twitter'></i></li>
            <li class="social-icon"><i class='bx bxl-tiktok'></i></li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">detail tautan</h1>
          <ul>
            <li>utama</li>
            <li>destinasi</li>
            <li>perjalanan</li>
            <li>artikel</li>
          </ul>
      </div>
      <div>
        <h1 class="footer-title">bantuan</h1>
        <ul>
          <li>pusat bantuan</li>
          <li>FAQs</li>
          <li>status</li>
        </ul>
      </div>
    </div>
    <h1 class="h-[50px] text-center py-3 text-small-size">Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
  </footer>
</body>
</html>